<%= link_to "Create New Wiki", new_wiki_path, class: 'btn btn-lg btn-pill btn-success mb-3' %>

<div class="row">
  <% @wikis.each do |wiki| %>
  <div class="col-sm-6">
    <div class="card mb-3">
      <!-- <img class="card-img-top" src="/100px180/" alt="Card image cap"> -->
      <div class="card-body">
        <h5 class="card-title"><%= wiki.title %></h5>
        <p class="card-text"><%= wiki.body %></p>
        <%= link_to "Full Wiki", wiki, class: "btn btn-pill btn-primary" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
