<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h3>Create New Wiki</h3>
      <p>Guidelines for Wikis</p>
      <ul>
        <li>Your title must be at least 3 characters long.</li>
        <li>The body of your wiki must be at least 15 characters long.</li>
        <li>Wikis are PUBLIC by default. Please check PRIVATE if that is your wish.</li>
      </ul>
      <hr>
      <%= render partial: 'form', locals: { wiki: @wiki } %>
    </div>
  </div>
</div>
